/*this is the background color*/
body {
    background-color: #ccc
}
/*Michael Ravelo*/
/*this is to center our buttons*/
.selections {
    display: flex;
    justify-content: center;
}
/*these are our individual sections being re-sized and modified to look good*/
.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 2rem;
    transition: 100ms;
}
/*this causes the buttons to pop-out aesthetically when hovered over with our cursor*/
.selection:hover {
    transform: scale(1.2);
}
/*this is making sure our results are displayed in a nice to see grid*/
.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
}
/*this is our score section*/
.result-score {
    margin-left: .1rem;
    font-size: .5rem;
    color: #333
}
/*the losing pick is slightly faded on our history grid*/
.result-selection {
    opacity: .5;
}
/*the winning pick is solid and slightly larger than the loser on the historical grid*/
.result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
}